.error_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 100px;

  @media screen and (min-width:768px) {
    padding-top: 200px;
  }

  @media screen and (min-width: 1024px) {
    img {
      width: 597px;
      height: 263px;
    }
  }
}

#error {
  min-height: 945px;
}

#message_error {
  @include line_break;
  justify-content: center;
  padding-bottom: 100px;
  @include message_error_p;


  span {
    @include message_error_p;
  }
}

#return_page {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 100px;

  @media screen and (min-width:1024px) {
    font-size: 18px;
  }
}