* {
  font-family: "Montserrat", sans serif;
  font-size: 12px;
  font-weight: 500;
}

h4 {
  font-family: "Montserrat", sans serif;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}

p {
  font-family: "Montserrat", sans serif;
  font-size: 12px;
  font-weight: 700;
}