body {
  margin: 0px;
}

main {
  @include line_break;
  flex-direction: column;
  justify-content: center;
  min-width: 335px;
  min-height: 623px;
  padding: 20px;

  @media screen and (min-width : 768px) {
    flex-direction: row;
    justify-content: space-evenly;
    min-width: auto;
    padding: 0px;
  }

  @media screen and (min-width: 1024px) {
    min-height: 920px;
    padding: 20px;
    justify-content: center;
  }
}

#about {
  flex-direction: column;

  @media screen and (min-width: 768px) {
    gap: 15px;
    padding: 20px;
  }
}

#log {
  flex-direction: column;
  padding: 20px;
}