body {
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#about {
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
}

#log {
  flex-direction: column;
  padding: 20px;
}