main {
  @include line_break;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  min-width: 335px;
  padding: 20px;

  // style pour afficher la banner + le titre
  .card_banner {
    position: relative;
    width: 100%;
    height: 111px;
    border-radius: 10px;

    &::after {
      width: 100%;
      height: 111px;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      content: "";
    }

    .banner_beach {
      width: 100%;
      height: 111px;
      border-radius: 10px;
      object-fit: cover;
    }

    p {
      @include line_break;
      position: relative;
      bottom: 80px;
      left: 16px;
      margin: 0;
      overflow: auto;

      @include banner_beach_p;

      span {
        @include banner_beach_p;
      }
    }
  }
}

// style pour afficher les images et titre des locations
.rental {
  @include line_break;
  cursor: pointer;

  img {
    @include picture;
  }

  p {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 30px;
    margin: 0;
    padding-left: 5px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: $color_rental_p;
  }
}

.carrousel {
  @include line_break;

  .picture {
    @include picture;
    object-fit: cover;
    cursor: pointer;
  }

  .arrow_right {
    @include arrow_carrousel;
    margin-top: 119px;
    right: 30px;
  }

  .arrow_left {
    @include arrow_carrousel;
    margin-top: 117px;
    left: 30px;
  }
}

.btn_logements {
  display: flex;
  gap: 10px;

  #tags {
    width: 84px;
    height: 18px;
    text-align: center;
    border: transparent;
    border-radius: 10px;
    background-color: $color_button;
    color: $color_font_button;
  }

}

.iconeStars {
  display: flex;
  gap: 5px;

  .stars {
    width: 18px;
    height: 18px;
    color: #FF6060;
  }

  h5 {
    position: relative;
    left: 90px;
  }

  img {
    position: relative;
    bottom: 10px;
    left: 95px;
    width: 10%;
    border-radius: 50%;
  }
}

.star {
  color: black;
}

// style de la page à propos pour les menus deroulant
.collapse_imput {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: $color_collapse;

  h4 {
    position: absolute;
    left: 30px;
    color: $color_h4;
  }

  .chevron {
    position: relative;
    right: 20px;
    color: $color_chevron_up;
    cursor: pointer;
  }

}

.close {
  display: none;
}

.open {
  display: block;
  position: relative;
  bottom: 20px;
  padding: 0 17px;
}