@mixin message_error_p {
  font-size: 18px;
  font-weight: 500;
  color: $color_error_404;

  @media screen and (min-width:1024px) {
    font-size: 38px;
  }
}

@mixin banner_beach_p {
  color: $color_p_banner_beach;
  font-weight: 700;
  font-size: 24px;
  z-index: 1;

  @media screen and (min-width:1024px) {
    font-size: 48px;
  }
}

@mixin line_break {
  display: flex;
  flex-wrap: wrap;
}

@mixin picture {
  width: 100%;
  height: 255px;
  border-radius: 10px;
}

@mixin arrow_carrousel {
  position: absolute;
  z-index: 1;
}