// page home
$color_p_banner_beach: #FFFFFF;
$color_a: #000000;
$color_rental_p: #FFFFFF;

// page about
$color_collapse: #fc5f5f;
$color_h4: #FFFFFF;
$color_chevron_up: #FFFFFF;
// footer
$color_footer: #000000;
$color_p_footer: #FFFFFF;

// page error
$color_error_404: #fc5f5f;